<nav role="navigation" aria-label="main navigation" class="navbar is-primary">
    <div class="navbar-brand">
        <a href="/" class="navbar-item router-link-exact-active router-link-active">
            <h4 class="is-size-3">
                NITC Mess Management
            </h4>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" [ngClass]="{'grey':unreg}" *ngIf="isAdmin" routerLink="/unreg">
            Add Mess
          </a>
          <a class="navbar-item" [ngClass]="{'grey':list}" *ngIf="isAdmin" routerLink="/list">
            Add Dues
          </a>
          <a class="navbar-item" [ngClass]="{'grey':messcut}" *ngIf="isAdmin" routerLink="/messcut">
            Mess Cut
          </a>
        </div>
        <div class="navbar-end">
          <div class="btncss">
            <button class="button is-primary" (click)="doLogout()">Logout</button>
          </div>
        </div>
    </div>
</nav>