.grey {
    /* background-color: #089883; */
    background: #653deaad;
}
.navbar-item:hover{
    background: #653dea;
}
.btncss {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.button {    
    border: 2px solid white;
}
.button:hover {
    border: 2px solid black;
}
.is-blue {
    background: linear-gradient(to right, #377fea 20%, #653dea) #377fea;
}
.is-blue * {
    color: white;
}